body {
    margin: 0;
    padding: 0;
}

/* -------------- header -------------- */
header {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}
.header-nav {
    display: flex;
    justify-content: flex-end;
}

.header-nav li {
    list-style: none;
    margin-left: 10px;
}

/* -------------- title -------------- */
.title-container {
    text-align: center;
}
.title {
    margin: 0 auto;
    padding: 0 30px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}

/* -------------- user -------------- */
.user-container {
    width: fit-content;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}
.user-container:hover {
    background-color: #eeffff;
}
.user-container-link {
    text-decoration: none;
    color: black;
}

/* -------------- common -------------- */
.bold {
    font-weight: bold;
}

/* -------------- calc -------------- */
.calculator {
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    align-items: start;
}

.calculator input[type="number"] {
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.calc-button-container {
    margin: 10px 30px;
}

.calc-button-container button {
    background-color: #4CAF50; /* 緑 */
    color: white;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}
