<h1>User</h1>

<% @users.each do |user| %>
  <div class="user-container">
    <p>名前: <%= user[:name] %></p>
    <p>年齢: <%= user[:age] %></p>
  </div>
<% end %>

<a href="/">topに戻る</a>

<p>それとも、<a href="https://www.google.com/">Google</a>を見る？<a href="https://www.yahoo.co.jp/">Yahoo</a>を見る?</p>