.user-container {
    width: fit-content;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    color: black ;
}

.bold {
    font-weight: bold;
}

.user-container:hover {
	background: #eeffff;
}

.claass{
    display: inline-block;
}